h1 {
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 10px;
  font-weight: bold;
  text-decoration: ;
  color: black;
  background-color: white;
}

h2 {
  font-size: 1.5em;

  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 10px;
  font-weight: 400;
  color: black;
  background-color: white;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding: 0;
  margin: 10px;
  color: black;
  background-color: white;
}

.logo {
  background-size: contain;
  background-image: url('https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png');
  background-color: white;
  height: 50px;
  width: 50px;
  margin: 10px;
}
